<!DOCTYPE html>
<html>
<head>
    <title>Autobot Home</title>

    <!--<script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/jquery.validate-vsdoc.js"></script>
    <script src="Scripts/jquery.validate.min.js"></script>
    <script src="Scripts/bootstrap.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->   
    <link rel="stylesheet" href="/css/landing-page.css">   
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/js/preview.js"></script>
    <!-- endinject -->

    <style>
        .container {
            background: #e3e3e3;
            /*margin-bottom: 20px;
            padding-bottom: 50px;*/
        }

        .glyphicon {
            font-size: 30px;
        }

        h1, h4 {
            text-align: center;
            margin-bottom: 50px;
        }

            h1 i {
                color: pink;
            }
    </style>
    <script type="text/javascript">
       $(document).ready(function() {
           $("#right").click(function (e) {               
               $.ajax({
                   url: "/right",
                   type: "POST",
                   error: function () {
                       alert("An error has occured!!!");
                   }
               });
           });

       });
   </script>
    <meta charset="utf-8" />
</head>
<body class="container">
    <div>
        <div class="text-center">
            <h2 style="margin-bottom: 20px">AUTOBOT</h2>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9">
                        <!--<iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>-->
                        <img id="mjpeg_dest" class="image-view"/>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-4 col-xs-4">
                        <a href="#" class="btn btn-start btn-md center-block" style="max-width: 80px;" onclick="setTimeout('initCapture();', 100);">
                            Start
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-4"></div>
                    <div class="col-md-4 col-xs-4">
                        <a href="#" class="btn btn-stop btn-md center-block" style="max-width: 80px;" onclick="setTimeout('stopCapture();', 100);">
                            Stop
                        </a>
                    </div>
                </div>                
            </div>
            <div class="col-sm-3" style="margin-top: 60px;">
                <div class="row">
                    <div class="col-md-4 col-xs-4"></div>
                    <div class="col-md-4 col-xs-4">
                        <a href="#" class="btn btn-info btn-md center-block" style="max-width: 80px; min-width: 40px">
                            <i class="fa fa-angle-double-up" style="font-size:30px"></i>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-4"></div>
                </div>
                <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                    <div class="col-md-4 col-xs-4">
                        <a href="#" class="btn btn-info btn-md center-block" style="max-width: 80px;">
                            <i class="fa fa-angle-double-left" style="font-size:30px"></i>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-4"></div>
                    <div class="col-md-4 col-xs-4">
                        <a href="#" class="btn btn-info btn-md center-block" style="max-width: 80px;">
                            <i class="fa fa-angle-double-right" style="font-size:30px"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-4"></div>
                    <div class="col-md-4 col-xs-4">
                        <a href="#" class="btn btn-info btn-md center-block" style="max-width: 80px; min-width: 40px">
                            <i class="fa fa-angle-double-down" style="font-size:30px"></i>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-4"></div>
                </div>
            </div>
        </div>        
    </div>
</body>
</html>
